__pycache__
*.pyc
.coverage
app.db
test.db
.idea
env
htmlcov
.env
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets